/* 标题等非主体内容字体使用楷体 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	font-size: 14px;
}

p {
	margin-bottom: 0;
	color: #333;
}

ul li {
	list-style: none;
}

body .mui-bar-nav {
	background-color: transparent;
	box-shadow: 0 0px 0px transparent;
}
body .mui-bar-nav .mui-pull-left{
	color: #612011;
}
body .mui-bar-nav .mui-title{
	color: #612011;
}